<!DOCTYPE html>
<html>

<head>
    <title>Quiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Volkhov" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="quiz.css" />
</head>

<body>
		<div class="quiz">
			<h4 class="counter">Question: </h4>
			<h2 class="text-center question col-xs-12">lorem</h2>
			<button class="text-center btn btn-primary col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">Hello</button>
			<button class="text-center btn btn-primary col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">Hello</button>
			<button class="text-center btn btn-primary col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">Hello</button>
			<button class="text-center btn btn-primary col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">Hello</button>
		</div>




    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script type="text/javascript" src="quiz.js"></script>
</body>

</html>
